extends layout
block vars
 - var title = 'Abeliophyllum'
block content
 h1
  a(href="/") <<
  |&nbsp; Abeliophyllum
 table
  tr
   td
    img(src="images/pbase-Abeliophyllum.jpg"  border="1")
   td: h4
    Abeliophyllum (White Forsythia, or Korean Abelialeaf)</b> is a monotypic genus of flowering plants in the olive family, Oleaceae. It consists of one species, <b>Abeliophyllum distichum</b> Nakai, endemic to Korea, where it is endangered in the wild, occurring at only seven sites. It is related to Forsythia, but differs in having white, not yellow, flowers.
    h4
     It is a deciduous shrub growing to 1 to 2 m tall. The leaves are opposite, simple, 6 to 10 cm long and 3 to 4.5 cm wide, pubescent both above and below. The flowers are produced in early spring before the new leaves appear; they are white and fragrant, about 1 cm long, with a four-lobed corolla. The fruit is a round, winged samara 2 to 3 cm diameter.
    h4
     It is cultivated as an ornamental plant in Europe and North America.
    h5
     a(href="docs/Abeliophyllum.pdf" download="Abeliophyllum.pdf") Download as Book
